@import 'colores';
@import 'margin';
@import 'breakpoint';

%display_grid_mobile {
  display: grid;
  grid-template-columns: 100%;
}

%display_flex_card {
  display: flex;
  justify-content: center;
  align-items: center;
}



.proyectos {
  @extend %display_grid_mobile;
  // margin-bottom: $margin_bottom;

  .carta-proyecto {
    @extend %display_flex_card;
    flex-direction: column;
    background: $background_carta_portfolio;
    padding: 3rem;
    border: 2px black solid;
    border-radius: 5px;
    margin-bottom: $margin_bottom;

    img {
      width: 300px;
      height: 150px;
      border: 2px black solid;
    }

    a {
      text-decoration: none;
      color: $letras_carta;
      transition: 0.3s;
      border: 2px solid black;
      padding: 0.3rem;
      border-radius: 5px;
    }

    a:link {
      color: $enlace_repositorio;
    }

    a:visited {
      color: $enlace_repositorio;
    }

    a:focus {
      color: $background_hover_enlace_carta;
    }

    a:hover {
      background: $background_hover_enlace_carta;
      color: $enlace_hover_carta;
    }

    a:active {
      color: $background_hover_enlace_carta;
    }
  }
}

@media (min-width: $breakpoint-tablet) {

  .proyectos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;

    .carta-proyecto{ 
      width: 288px;
      height: 361px;
      transition: 0.25s;

      img {
        width: 300px;
        height: 150px;
      }
    }

    .carta-proyecto:hover{
      transform: translateY(-10px);
    }
  }
}

@media (min-width: $breakpoint-desktop){
  .proyectos {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .carta-proyecto{
      width: 35%;

      img {
        width: 350px;
        height: 180px;
      }
    }
  }
}
