@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import 'colores';
* {
  font-family: 'Rajdhani', sans-serif;
}

body {
    background: $background;
}

#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    text-transform: uppercase;

    a {
        color: $enlace_nav;
        font-weight: bold;
        transition: 0.3s;
        margin: 0.5rem;
        padding: 0.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 5px;
    }
    
    a:link {
        color: $enlace_nav_action;
      }
      
      a:visited {
        color: $enlace_nav;
      }
      
      a:focus {
        background: $background_enlace_nav;
        color: $enlace_nav_action;
      }
      
      a:hover {
        background: $background_enlace_nav;
        color: $enlace_nav_action;
      }
      
      a:active {
        background: $background_enlace_nav;
        color: $enlace_nav_action;
      }

      a, a:link, a:visited, a:focus, a:hover, a:active {
        text-decoration:none;
    }
}