@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import 'colores';
* {
  font-family: 'Rajdhani', sans-serif;
}

body {
    background: $background;
}

.contenedor-app-vue {
  position: relative;
  min-height: 100vh;
}

#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    text-transform: uppercase; 

    a {
        color: $enlace_nav;
        font-weight: bold;
        transition: 0.3s;
        margin: 0.5rem;
        padding: 0.2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius: 5px;
    }
    
    a:link {
        color: $enlace_nav_action;
      }
      
      a:visited {
        color: $enlace_nav;
      }
      
      a:focus {
        background: $background_enlace_nav;
        color: $enlace_nav_action;
      }
      
      a:hover {
        background: $background_enlace_nav;
        color: $enlace_nav_action;
      }
      
      a:active {
        background: $background_enlace_nav;
        color: $enlace_nav_action;
      }

      a, a:link, a:visited, a:focus, a:hover, a:active {
        text-decoration:none;
    }
}


  footer {
      padding-top: 2.5rem;
      position: absolute;
      width: 90%;
      bottom: 0;   
      font-weight: bold;
      padding: 1rem;
      text-align: center;
      color: $letras_footer;
      background: $background_footer;
      
  }

