@import 'colores';

%display_grid {
    display: grid;
    grid-template-columns: 100%;
}

%display_flex_carta {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-presentacion {
    color: $letras;
    //border: 1px solid white;

    @extend %display_grid;

    .presentacion-personal {
        @extend %display_flex_carta;
        //border: 2px solid white;
        padding: 0.5rem;
        flex-direction: column;

        img {
            width: 200px;
            height: 200px;
            border-radius: 150px;
            border: 3px solid white;
        }

        h1 {
            text-transform: uppercase;
        }

        h1, h4, h5 {
            text-align: center;
        }
    }

    .lenguajes {
        text-align: center;
        text-transform: uppercase;
    
    
        .imagenes{
            @extend %display_flex_carta;
            flex-wrap: wrap;
    
            ::v-deep h1{
                text-transform: uppercase;
            }
    
            ::v-deep img {
                width: auto;
                height: 40px;
                padding: 0.5rem;
            }
    
        }
    }

}