@import '../../styles/colores';
@import '../../styles/breakpoint';

    footer {
        position: absolute;
        top: 80vh;
        height: 10vh;
        font-weight: bold;
        //padding: 1rem;
        text-align: center;
        color: $letras_footer;
        background: $background_footer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

@media(min-width: $breakpoint-tablet){
    footer {
        position: absolute;
        top: 90vh;
        font-weight: bold;
        //padding: 1rem;
        text-align: center;
        color: $letras_footer;
        background: $background_footer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


